%h2{:style => 'margin-top: 2em'} Top Priority Countries
%table
  %thead
    %tr
      %th{:style => 'text-align: left; width: 10em;'}
      %th{:style => 'text-align: right; color: darkgreen;'} % &nbsp;<br/> Loaded &nbsp;
      %th{:style => 'text-align: right; color: darkgreen;'} Loaded &nbsp;<br/> Sources &nbsp<br/> Count &nbsp;
      %th{:style => 'text-align: right; color: darkgreen;'} &nbsp; &nbsp; &nbsp; Items &nbsp;
      %th{:style => "text-align: right; color: #{@top_error_colour};"} % Load &nbsp;<br/> Errors &nbsp;
      %th{:style => "text-align: right; color: #{@top_error_colour};"} Load &nbsp;<br/> Errors &nbsp<br/> Count &nbsp;
      %th{:style => 'text-align: right;'} &nbsp; Total &nbsp;<br/> Sources &nbsp;
  %tbody
    - @top_priority.each do |country|
      %tr
        %td
          = link_to country, (@top_countries_by_name[country] ? to_excel_url(:country_id => @top_countries_by_name[country].first.id) : '')
        %td{:style => 'text-align: right; color: darkgreen;'}
          = @percent_loaded_by_country[country] == 0 ? '' : number_to_percentage(@percent_loaded_by_country[country], :precision => 0)
        %td{:style => 'text-align: right; color: darkgreen;'}
          = @loaded_files_by_country[country] == 0 ? '' : number_with_delimiter(@loaded_files_by_country[country])
        %td{:style => 'text-align: right; color: darkgreen;'}
          = @top_items_by_country[country] == 0 ? '' : number_with_delimiter(@top_items_by_country[country])
        %td{:style => "text-align: right; color: #{@top_error_colour};"}
          = @percent_errors_by_country[country] == 0 ? '' : number_to_percentage(@percent_errors_by_country[country], :precision => 0)
        %td{:style => "text-align: right; color: #{@top_error_colour};"}
          = @file_errors_by_country[country] == 0 ? '' : number_with_delimiter(@file_errors_by_country[country])
        %td{:style => 'text-align: right;'}
          = number_with_delimiter @files_by_country[country]
    %tr
      %td
        %b TOTAL
      %td{:style => 'text-align: right; color: darkgreen;'}
        %b= number_to_percentage(@top_total_percent_loaded, :precision => 1)
      %td{:style => 'text-align: right; color: darkgreen;'}
        %b= number_with_delimiter @top_total_loaded_files
      %td{:style => 'text-align: right; color: darkgreen;'}
        %b= number_with_delimiter(@top_items_count)
      %td{:style => "text-align: right; color: #{@top_error_colour};"}
        %b= @top_total_file_errors == 0 ? '' : number_to_percentage(@top_total_percent_errors, :precision => 1)
      %td{:style => "text-align: right; color: #{@top_error_colour};"}
        %b= @top_total_file_errors == 0 ? '' : number_with_delimiter(@top_total_file_errors)
      %td{:style => 'text-align: right;'}
        %b= number_with_delimiter @top_total_files

%h2{:style => 'margin-top: 2em'} Other Countries
%table
  %thead
    %tr
      %th{:style => 'text-align: left;; width: 10em;'}
      %th{:style => 'text-align: right; color: darkgreen;'} % &nbsp;<br/> Loaded &nbsp;
      %th{:style => 'text-align: right; color: darkgreen;'} Loaded &nbsp;<br/> Sources &nbsp<br/> Count &nbsp;
      %th{:style => 'text-align: right; color: darkgreen;'} &nbsp; &nbsp; &nbsp; Items &nbsp;
      %th{:style => "text-align: right; color: #{@other_error_colour};"} % Load &nbsp;<br/> Errors &nbsp;
      %th{:style => "text-align: right; color: #{@other_error_colour};"} Load &nbsp;<br/> Errors &nbsp<br/> Count &nbsp;
      %th{:style => 'text-align: right;'} &nbsp; Total &nbsp;<br/> Sources &nbsp;
  %tbody
    - @other_items_by_country.keys.compact.sort.each do |country|
      %tr
        %td
          = link_to country, to_excel_url(:country_id => @other_countries_by_name[country].first.id)
        %td{:style => 'text-align: right; color: darkgreen;'}
          = @percent_loaded_by_country[country] == 0 ? '' : number_to_percentage(@percent_loaded_by_country[country], :precision => 0)
        %td{:style => 'text-align: right; color: darkgreen;'}
          = @loaded_files_by_country[country] == 0 ? '' : number_with_delimiter(@loaded_files_by_country[country])
        %td{:style => 'text-align: right; color: darkgreen;'}
          = @other_items_by_country[country] == 0 ? '' : number_with_delimiter(@other_items_by_country[country])
        %td{:style => "text-align: right; color: #{@other_error_colour};"}
          = @percent_errors_by_country[country] == 0 ? '' : number_to_percentage(@percent_errors_by_country[country], :precision => 0)
        %td{:style => "text-align: right; color: #{@other_error_colour};"}
          = @file_errors_by_country[country] == 0 ? '' : number_with_delimiter(@file_errors_by_country[country])
        %td{:style => 'text-align: right;'}
          = number_with_delimiter @files_by_country[country]
    %tr
      %td
        %b TOTAL
      %td{:style => 'text-align: right; color: darkgreen;'}
        %b= number_to_percentage(@other_total_percent_loaded, :precision => 1)
      %td{:style => 'text-align: right; color: darkgreen;'}
        %b= number_with_delimiter @other_total_loaded_files
      %td{:style => 'text-align: right; color: darkgreen;'}
        %b= number_with_delimiter(@other_items_count)
      %td{:style => "text-align: right; color: #{@other_error_colour};"}
        %b= @other_total_file_errors == 0 ? '' : number_to_percentage(@other_total_percent_errors, :precision => 1)
      %td{:style => "text-align: right; color: #{@other_error_colour};"}
        %b= @other_total_file_errors == 0 ? '' : number_with_delimiter(@other_total_file_errors)
      %td{:style => 'text-align: right;'}
        %b= number_with_delimiter @other_total_files

%h2{:style => 'margin-top: 2em'} Crossborder Funds
%table
  %thead
    %tr
      %td
      %th{:style => 'text-align: right;'} &nbsp; Total &nbsp;<br/> Sources &nbsp;      
  %tbody
    - @crossborder_groups.each do |group|
      %tr
        %td=group.gsub(/([^,]+,\s[^,]+,\s[^,]+,)/,'\1<br />&nbsp;&nbsp;')
        %td{:style => 'text-align: right; vertical-align: text-top;'}
          = number_with_delimiter @crossborder_by_country[group]
    %tr
      %td
        %b TOTAL
      %td{:style => 'text-align: right;'}
        %b= number_with_delimiter @crossborder_total_files

%h2{:style => 'margin-top: 2em'} Transnational Funds
%table
  %thead
    %tr
      %td
      %th{:style => 'text-align: right;'} &nbsp; Total &nbsp;<br/> Sources &nbsp;      
  %tbody
    - @transnational_groups.each do |group|
      %tr
        %td=group.gsub(/([^,]+,\s[^,]+,\s[^,]+,)/,'\1<br />&nbsp;&nbsp;')
        %td{:style => 'text-align: right; vertical-align: text-top;'}
          = number_with_delimiter @transnational_by_country[group]
    %tr
      %td
        %b TOTAL
      %td{:style => 'text-align: right;'}
        %b= number_with_delimiter @transnational_total_files
