%p Discover who gets what from the EU Structural Funds
#search
  - form_tag(search_url, :method => :get) do
    %span.query= text_field_tag :q, h(@query)
    %span.submit= submit_tag 'Search'

#facets
  .countries
    %p Countries
    = render :partial => 'facet', :object => @result.facet(:fund_country).rows, :locals => {:facet_name => :fund_country, :total => @result.facet(:fund_country).rows.size}
  - if @result.facet(:fund_country).rows.size == 1
    .regions
      %p Regions
      .regions1
        = render :partial => 'facet', :object => @result.facet(:fund_region).rows.in_groups(2).first, :locals => {:facet_name => :fund_region, :total => @result.facet(:fund_region).rows.size}
      .regions2
        = render :partial => 'facet', :object => @result.facet(:fund_region).rows.in_groups(2).last, :locals => {:facet_name => :fund_region, :total => @result.facet(:fund_region).rows.size}

.items
  %table
    %thead
      %tr
        %th Fund Name
        %th Country
        %th Region
        %th Beneficiary
        %th Project Title
        %th Description
    %tbody
      - @result.each_hit_with_result do |hit, item|
        %tr
          %td=item.fund_name
          %td=item.fund_file.countries.first.name
          %td=item.fund_file.region
          %td=item.beneficiary
          %td=item.project_title
          %td=item.description
