%p Discover who gets what from the EU Structural Funds
#search
  - if false # form_tag(search_url, :method => :get) do
    %span.query= text_field_tag :q, h(@query)
    %span.submit= submit_tag 'Search'
  - form_tag(translate_and_search_url, :method => :get) do
    %span.query= text_field_tag :q, h(@query)
    %span.submit= submit_tag 'Search'

#facets
  - if @countries.size == 1
    .country
      = render :partial => 'facet', :object => @countries, :locals => {:facet_name => :fund_country, :total => @countries.size}
  - else
    .countries
      .countries1
        = render :partial => 'facet', :object => @countries.in_groups(2).first, :locals => {:facet_name => :fund_country, :total => @countries.size}  
      .countries2
        = render :partial => 'facet', :object => @countries.in_groups(2).last, :locals => {:facet_name => :fund_country, :total => @countries.size}  
  - if @countries.size == 1
    .regions
      .regions1
        = render :partial => 'facet', :object => @regions.in_groups(2).first, :locals => {:facet_name => :fund_region, :total => @regions.size}
      .regions2
        = render :partial => 'facet', :object => @regions.in_groups(2).last, :locals => {:facet_name => :fund_region, :total => @regions.size}

- if @results.size == 0
  %p No results found.
- else
  %p.to_csv= link_to 'Save to CSV', params.merge('f' => 'csv')
  .items
    %table
      %thead
        %tr
          %th Fund
          %th
            Country
            %br
            &amp; Region
          %th Beneficiary
          %th
            Project
            %br
            &amp; Description
          %th
            Amount
            %br
            EU Funds
      %tbody
        - @results.each_with_index do |item, index|
          %tr
            %td= h item.fund_name.to_s.strip
            %td
              = h item.fund_file.countries.first.name.to_s.strip
              %br
              = h item.fund_file.region.to_s.strip
            %td= h item.beneficiary.to_s.strip
            %td{:class => item.language_code}
              %span.description{:id => "description_#{index}"}
                - if item.project_title.blank?
                  = h item.description.to_s.strip
                - else
                  = h item.project_title.to_s.strip
                  %br
                  = h item.description.to_s.strip
              %br
              %span.translation{:id => "translation_#{index}"}
            %td.amount= item.amount_allocated_eu_funds ? "#{number_with_delimiter(item.amount_allocated_eu_funds)} #{h(item.currency)}" : ''
