%p Discover who gets what from the EU Structural Funds
#search
  - if false # form_tag(search_url, :method => :get) do
    %span.query= text_field_tag :q, h(@query)
    %span.submit= submit_tag 'Search'
  - form_tag(translate_and_search_url, :method => :get) do
    %span.query= text_field_tag :q, h(@query)
    %span.submit= submit_tag 'Search'

#facets
  - if @countries.size == 1
    .country
      = render :partial => 'facet', :object => @countries, :locals => {:facet_name => :fund_country, :total => @countries.size}
  - else
    .countries
      .countries1
        = render :partial => 'facet', :object => @countries.in_groups(2).first, :locals => {:facet_name => :fund_country, :total => @countries.size}  
      .countries2
        = render :partial => 'facet', :object => @countries.in_groups(2).last, :locals => {:facet_name => :fund_country, :total => @countries.size}  
  - if @countries.size == 1
    .regions
      .regions1
        = render :partial => 'facet', :object => @regions.in_groups(2).first, :locals => {:facet_name => :fund_region, :total => @regions.size}
      .regions2
        = render :partial => 'facet', :object => @regions.in_groups(2).last, :locals => {:facet_name => :fund_region, :total => @regions.size}

- if @results.size > 0
  %p.to_csv= link_to 'Save to CSV', params.merge('f' => 'csv')
.items
  %table
    %thead
      %tr
        %th Fund
        %th
          Country
          %br
          &amp; Region
        %th Beneficiary
        %th Project
        %th Description
    %tbody
      - @results.each do |item|
        %tr
          %td=item.fund_name.to_s.strip
          %td
            =item.fund_file.countries.first.name.to_s.strip
            %br
            =item.fund_file.region.to_s.strip
          %td=item.beneficiary.to_s.strip
          %td=item.project_title.to_s.strip
          %td=item.description.to_s.strip
